<div id="add_item_overlay" class="overlay">
	<header>
		<h2>Add an item</h2>
	</header>
	<section class="overlay-guts">
		<form>
			<fieldset>
				<label for="">Title</label>
				<input type="text" placeholder="iPhone 4S or GAP gift card" id="itemTitle" />
			</fieldset>
			<fieldset>
				<label for="">Link</label>
				<input type="text" placeholder="Paste a link to the item here" id="itemLink" />
			</fieldset>
			<fieldset>
				<label for="">Notes</label>
				<textarea rows="" cols="" placeholder="Sizes, colors, options" id="itemDesc"></textarea>
			</fieldset>
			<fieldset>
				<input type="submit" value="Add Item" id="AddItem" />
			</fieldset>
		</form>
	</section>
</div>
<script src="~/Scripts/Items/AddItem.js"></script>
