@Html.Partial("_HtmlHead")

@{
    ViewBag.Title = "Yearnly";
}

<body class="sub-page">


    <section class="wrap group">

        @RenderBody()

    </section>
    <!-- /#page -->


@Html.Partial("_Footer")