@Html.Partial("_HtmlHead")

<body>

    @Html.Partial("_SiteHeader")

    <section class="wrap group">

        @Html.Partial("_PrivateNav")

        <div id="page">
            @RenderBody()
        </div>

    </section>
    <!-- /#page -->


@Html.Partial("_Footer")