<div class="profile-head group">
    <h1 class="left">@ViewBag.UserName</h1>
    <!-- THIS BUTTON SHOULD NOT BE HERE IF YOU ARE VIEWING YOUR OWN PROFILE - AND IT SHOULD SAY 'REMOVE FRIEND' IF THEY ARE A FRIEND ALREADY, FUCK YEA -->
    <a class="button right" href="#">add friend</a>
</div>

<div class="profile-nav">
    <ul>
        <li><a href="">profile</a></li>
        <li><a href="items">12 items</a></li>
        <li><a href="lists">2 lists</a></li>
    </ul>
</div>
