@Html.Partial("_HtmlHead")

@{
    ViewBag.Title = "Registration";
}

<body>

    @Html.Partial("_SiteHeader")

    <section class="wrap group">

        @RenderBody()

    </section>
    <!-- /#page -->


@Html.Partial("_Footer")