<header class="full-width">
    <section class="wrap group">
        <a id="logo" href="/">Yearnly</a>
        <form method="post" action="#" id="global_search">
            <fieldset>
                <legend>Search</legend>
                <input type="text" placeholder="search for lists, items, and friends" id="global_search_field" />
                <input type="submit" value="search" />
            </fieldset>
        </form>
        @Html.Partial("_LoginPartial")
    </section>
</header>