<header class="full-width">
    <section class="wrap group">
        <div class="tertiary">
            <a id="logo" href="/">Yearnly</a>
        </div>
        <div class="main group">
            <ul class="user-actions group">
                <li><a class="@(ViewBag.Section == "Home" ? "current" : "") north-star user-action" href="/">Home</a></li>
                <li>
                    <a class="user-action global-add-link activate-panel" href="#add_something_panel">add something</a>
                    <div class="panel global-add" id="add_something_panel">
                    </div>
                </li>
                <li>
                    <a class="notifications-link activate-panel user-action" href="#notification_panel" data-bind="text: numberOfNotifications, css: hasNotifications"></a>
                    <div class="notifications-container group">
                        <script src="~/Scripts/Friends/FriendNotification.js"></script>
                        <!-- number of notifications -->
                        <ul class="notifications panel" id="notification_panel">
                            <!-- this is for when there are no notifications -->
                            <li class="group notification no-notifications" data-bind="visible: friendRequests().length == 0">No new notifications</li>

                            <!-- ko foreach: friendRequests -->
                            <li class="group notification notification-type-friend-request">
                                <a href="#" data-bind="attr: { href: userName }"></a>
                                <img class="profile-pic" src="~/Content/css/i/big_profile_pic.jpg" alt="" />
                                <a class="request-sender" data-bind="text: firstname, attr: { href: userName }"></a>sent you a friend request.
                                <div class="group">
                                    <a href="#" class="button accept-friend-request" data-bind="click: $parent.acceptFriendRequest">accept</a>
                                    or 
                                    <a href="#" class="button decline-friend-request" data-bind="click: $parent.declineFriendRequest">decline</a>
                                </div>
                            </li>
                            <!-- /ko -->
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="user-action activate-search" href="#">search</a>

                    <form method="post" action="#" id="global_search">
                        <fieldset>
                            <legend>Search</legend>
                            <input type="text" placeholder="search for lists, items, and friends" id="global_search_field" />
                            <input type="submit" value="search" />
                        </fieldset>
                    </form>
                </li>
            </ul>
        </div>


        <div class="secondary">
            @Html.Partial("_LoginPartial")
        </div>



    </section>
</header>
