html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{box-sizing:border-box;border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}.group:before,.group:after{content:"";display:table}.group:after{clear:both}.group{zoom:1}strong{font-weight:700}em{font-style:italic}.left{float:left!important}.right{float:right!important}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,html{display:block}

/*
--------------------------------
MASTHEAD - VARIABLE DECLARATIONS
--------------------------------
*/
@item-color				:		#e57474;
@list-color				:		#55c6da;
@other-color			:		#b0de79;
@success				:		#94ba66;
	@success-hover		:		#7a9f4e;
@alert					:		#F5E36C;
	@alert-hover		:		#DBC84B;
@error					:		#7a9f4e;
	@error-hover		:		#d74e4e;
@whisper				:		#abd5e9;
@text					:		#222;
	@text-lite			:		#aaa;
@textbox-color			:		#222;
@textbox-border-color	:		#939393;

@border-radius			:		4px;
    @border-radius-small:		2px;

@corp-font				:		"Bitter","Georgia","Times",serif;
@site-font				:		"Helvetica Neue","Helvetica","Arial",Lucida,sans-serif;


.yearnly-text-shadow {text-shadow:0 1px 0 rgba(0,0,0,.2);}
.yearnly-text-emboss {text-shadow:0 1px 0 rgba(255,255,255,.6);}
.yearnly-drop-shadow {box-shadow:0 1px 2px rgba(0,0,0,.2);}

html, body {width:100%;height:100%;}
body {font-family:@site-font;color:@text;font-size:100%;box-sizing:border-box;}
	body#public_home {background:@list-color;}

/*
	LAYOUT
*/
.full-width {width:100%;}
.wrap {width:940px;margin:0 auto;}
#page {position:relative;}
.main,
.secondary,
.tertiary {padding:20px;margin-right:20px;}
.main {width:540px;float:left;border:1px solid #ececec;border-radius:4px;}
	header .main {border:none;}
.secondary {width:200px;float:right;margin-right:0;}
.tertiary {width:160px;height:100%;float:left;}
.half {width:200px;}
.node {padding:15px;margin-bottom:20px;}
	.node:last-child {margin-bottom:0;}
.pd {margin-bottom:20px;}


/*
	GENERAL STYLES
*/
.hidden {display:none;}

a:link,
a:visited { color:@item-color;text-decoration:none; }
a:hover { color: darken(@item-color,20%);text-decoration:underline; }
a:active { color: @text; }

h1,h2,h3,h4,h5,h6 {font-weight:bold;font-family:@corp-font;text-shadow: 0 0 1px rgba(51,51,51,0.2);}
h1 {font-size:32px;margin:0 0 30px 0;}
h2 {font-size:22px;}
h3 {font-size:14px;}

p {font-family:@corp-font;line-height:1.6em;font-size:13px;padding:5px 0 15px 0;}

label { display: inline-block;padding:0 0 3px 0;color:@text;font-size:12px;font-weight:bold;}
input[type="text"],
input[type="password"],
textarea,
select {background:#fbfbfb;color:@textbox-color;display:block;padding:12px;box-sizing:border-box;font-size:14px;outline:0;border:1px solid @textbox-border-color;height:40px;width:100%;font-family:@corp-font;margin:0 0 10px 0;box-shadow:inset 0 1px 1px rgba(0,0,0,.2);border-radius:4px;}
	input[type="text"]:focus,
	input[type="password"]:focus,
	textarea:focus {border-color:#444;background:#fff;box-shadow:inset 0 1px 3px rgba(0,0,0,.2);}

label.form-error {background:@error;border:1px solid @error-hover;color:#fff;border-top:none;.yearnly-text-shadow;position:relative;top:-11px;padding:8px;font-size:14px;margin:0 0 10px 0;.yearnly-drop-shadow;}

.button,
.button:link,
.button:visited {border:none;text-align:center;cursor:pointer;display:inline-block;padding:4px 9px 5px;font-weight:bold;background:@item-color;color:#fff;.yearnly-text-shadow;border-radius:100px;}
	.button:hover,
	.button:focus {text-decoration:none;background:lighten(@item-color,7%);}
	.button:active {background:@text;}

.hidden,
.panel {display:none;}

.panel {background:#fff;.yearnly-drop-shadow;padding:20px;border-radius:4px;border:1px solid #797979;z-index:999;}
	.panel .menu {min-width:120px;}
		.panel .menu li a {display:block;padding:9px;width:100%;height:100%;font-size:14px;color:@text;font-weight:bold;text-transform:capitalize;} 
	.panel .panel-arrow {position:absolute;background:url(i/sprite.png) no-repeat;display:block;width:20px;height:20px;}
		.panel-arrow.north {top:-20px;background-position:-200px -120px;}
			.north.left {left:40px;}
			.north.center {left:50%;margin-left:-10px;}
			.north.right {right:40px;}
		.panel-arrow.south {bottom:-20px;background-position:-200px -160px;}
			.south.left {left:40px;}
			.south.center {left:50%;margin-left:-10px;}
			.south.right {right:40px;}
		.panel-arrow.east {left:-20px;background-position:-180px -140px;}
			.east.top {top:40px;}
			.east.middle {top:50%;margin-top:-10px;}
			.east.bottom {bottom:40px;}
		.panel-arrow.west {right:-20px;background-position:-220px -140px;}
			.west.top {top:40px;}
			.west.middle {top:50%;margin-top:-10px;}
			.west.bottom {bottom:40px;}
	.panel-tabs {text-align:center;padding:0 0 10px;margin-bottom:10px;border-bottom:1px solid #ddd;font-family:@corp-font;}
		.panel-tabs li {display:inline;}
			.panel-tabs li a {color:#999;display:inline-block;padding:0 10px;text-decoration:none;}
				.panel-tabs li.toggled a {color:@text;font-weight:bold;}

.overlay {position:absolute;top:-40px;left:50%;margin-left:-240px;z-index:9999;width:480px;box-shadow:0 4px 9px rgba(0,0,0,.25);}
	.overlay-guts {padding-top:20px;}
	.close-overlay {position:absolute;top:-40px;right:-40px;width:40px;height:40px;text-indent:-9999px;background:url(i/sprite.png) no-repeat 0 -180px;opacity:.8;-webkit-transition:opacity .2s ease-in-out;}
		.close-overlay:hover {cursor:pointer;opacity:1.0;-webkit-transition:opacity .2s ease-in-out;}

#ui_blocker {width:100%;height:100%;background:rgba(255,255,255,.8);position:absolute;top:0;left:0;z-index:9998;}

/*
	PUBLIC HOMEPAGE
*/
.promo {height:480px;background:url(i/yearnly_home_header_bg.png) no-repeat center;position:relative;}
	.promo-guts {position:absolute;width:480px;top:300px;left:0;text-align:right;}
	.promo h1 {color:#fff;font-size:30px;.yearnly-text-shadow;}
	.promo h2 {color:darken(@list-color,30%);font-size:16px;font-family:@site-font;line-height:1.5em;padding:0 0 20px 0;}
	.promo .button {padding:15px 25px;font-size:18px;margin-right:-5px;}


/*
	HEADER	
*/
header {background:@list-color;margin:0 0 20px;}
    header .wrap {position:relative;height:80px;}
	header .tertiary,
	header .main,
	header .secondary {padding-top:0;padding-bottom:0;}
    header #logo {position:absolute;top:17px;left:5px;height:40px;width:120px;background:url(i/sprite.png) no-repeat 100% top;text-indent:-9999px;}
		#logo:hover,
		#logo:focus {background-position-y:-40px;}

    #global_search {}
		#global_search legend {display:none;}
        #global_search input[type="submit"] {visibility:hidden;}
        #global_search input[type="text"] {position:absolute;border:none;top:0;left:190px;height:40px;padding-left:15px;border-radius:50px;font-weight:bold;width:300px;opacity:0;-webkit-transition:opacity .25s ease-in-out;}
        #global_search input[type="text"]:focus {opacity:1.0;-webkit-transition:opacity .25s ease-in-out;}

	#user_header {position:absolute;z-index:99;top:20px;right:0;text-align:right;}
		#user_header > a {display:block;font-weight:bold;color:#fff;.yearnly-text-shadow;font-family:@corp-font;}
		#user_header img { float:right;margin-left:20px;position:relative;width:40px;height:40px;border:none;}
		#user_header .user-header-name {line-height:40px;}
		#user_header_panel {position:absolute;top:50px;left:31px;}

.user-actions {width:auto;position:relative;top:20px;left:-5px;}
	.user-actions > li {width:40px;height:40px;margin-right:10px;float:left;}
	.user-action {display:block;width:100%;height:100%;background:transparent url(i/sprite.png) no-repeat -100px 0;text-indent:-9999px;}
		.user-action:hover {background-position-y:-40px;}
	.north-star {}
		.north-star:active,
		.north-star.current {background-position-y:-40px;}
	.global-add-link {background-position-x:-140px;}
		.create-list-submit {background-color:@list-color!important;border-color:darken(@list-color,30%) !important;box-shadow:inset 0 1px 0 rgba(255,255,255,.5);}
		.global-add {position:absolute;top:50px;left:-110px;}
			.global-add .item-price,
			.global-add .list-date {width:40%;}
			.global-add .button {width:40%;height:40px;line-height:31px;border-radius:4px;border:1px solid darken(@item-color,30%);box-shadow:inset 0 1px 0px rgba(255,255,255,.5);}
		.add-item-price-icon {display:block;float:left;height:30px;width:40px;line-height:38px;text-align:center;font-weight:bold;font-size:18px;color:@text;}
		.list-date-icon {display:block;float:left;height:20px;width:20px;margin:0 10px 0 0;background:url(i/sprite.png) no-repeat -220px -180px;text-indent:-9999px;position:relative;top:9px;left:0;}
	.notifications-link {background-position-x:-180px;}
		.notifications-link.toggled {background-position-y:-40px;}
		.notifications-link.has-notifications {background-position-y:-40px;text-indent:-9999px;}
		.has-notifications:hover {text-decoration:none;color:@text;text-shadow:none;}
		.notifications {position:absolute;top:50px;left:-54px;z-index:9999;width:350px;}
			.notification {font-size:14px;padding-bottom:10px;margin-bottom:10px;border-bottom:1px solid #eee;}
			.notification:last-child {padding-bottom:0;margin-bottom:0;border-bottom:0;}
				.notification .group {padding-top:5px;}
				.notification .profile-pic {float:left;width:40px;height:40px;margin-right:20px;}
				.notification .request-sender {font-weight:bold;}
				.notification .decline-friend-request {font-size:11px;background:#777;}
		.no-notifications {padding:10px!important;font-size:16px;font-style:italic;color:#999;}
	.activate-search {background-position-x:-220px;}
		.activate-search.toggled {background-position-y:-40px;}

#global_nav {font-family:@corp-font;}
	#quick_actions {padding-bottom:30px;}
	#global_nav li a:link,
	#global_nav li a:visited {color:@text-lite;font-weight:bold;font-size:15px;display:block;height:40px;}
	#global_nav li a:hover,
	#global_nav li.current a {color:@text;text-decoration:none;}
	#global_nav li a:before {content:".";display:block;width:20px;height:20px;float:left;margin-right:15px;background:url(i/sprite.png) no-repeat 0 0;text-indent:-9999px;position:relative;top:-3px;left:-5px;}
		#global_nav #nav_home:before {background-position-y:0;}
		#global_nav #nav_items:before {background-position-y:-20px;}
		#global_nav #nav_lists:before {background-position-y:-40px;}
		#global_nav #nav_dibs:before {background-position-y:-80px;}
		#global_nav #nav_friends:before {background-position-y:-60px;}
		/* #global_nav #nav_messages:before {background-position-y:-120px;} */
		#global_nav #nav_settings:before {background-position-y:-100px;}
	#global_nav li.current a:before {background-position-x:-20px;}
#quick_actions li a:before {content:"+";background:@list-color;text-indent:-1px;color:#fff;text-align:center;border-radius:20px;line-height:22px;font-size:18px;font-weight:bold;}
#quick_actions li:last-child a:before {background:@item-color;}


#authentication_form_group .half {border:1px solid #eee;padding:20px;}
#authentication_form_group h2 {padding:0 0 30px 0;}


.thing {border:1px solid #c8c8c8;position:relative;border-radius:4px;-webkit-transition:all ease-in-out .2s;cursor:pointer;.yearnly-drop-shadow;}
	.thing:hover {box-shadow:0 2px 6px rgba(0,0,0,.3);border-color:#797979;position:relative;top:-2px;}
	.thing:active {position:relative;top:0;border-color:#999;box-shadow:none;-webkit-transition:none;}

.header-with-tools {position:relative;line-height:1.5em;margin:0 0 10px;border-bottom:1px solid #ececec;}
	.header-tools {float:right;}
	.header-with-tools h2 {float:left;font-size:12px;font-family:@site-font;}
	.tool-label {color:@text-lite;}
	.header-with-tools .activate-panel:link,
	.header-with-tools .activate-panel:visited {color:@text;padding:9px 15px 9px 9px;}
		.header-with-tools .activate-panel:after {content:"▼";font-weight:bold;}
	.header-with-tools .panel {position:absolute;top:-40px;right:0;z-index:99;.panel;line-height:1em;}

.activity {position:relative;margin-bottom:20px;font-size:13px;}
	.activity img {vertical-align:middle;margin-right:15px;width:40px;height:40px;}
	.activity a {font-weight:bold;}

.stat {padding:0 0 20px 0;margin:0 0 20px 0;}
	.stat:last-child {padding-bottom:0;margin:0;}
	.stat h2 {font-size:32px;}
	.stat h4 {font-size:14px;color:lighten(@text,20%);}

.profile-pic {border-radius:100px;box-shadow:inset 0 3px 0 rgba(255,255,255,.9);}

.items {padding-top:20px;margin:0 0 30px 0;}
.item {float:left;width:230px;height:80px;margin:0 20px 20px 0;padding:0;position:relative;}
	.item .activate-panel {position:absolute;top:0;left:0;width:100%;height:100%;text-indent:-9999px;}
	.item:nth-child(even) {margin-right:0;float:right;}
	.item-guts {padding:10px;}
	.item .item-title {font-size:13px;padding:0;margin:0;line-height:1.3em;font-family:@site-font;}
	.item .item-link {color:@item-color;font-size:10px;width:120px;overflow:hidden;display:inline-block;white-space:nowrap;}
	.item .item-meta {position:absolute;bottom:5px;left:7px;}
		.item .item-meta li {float:left;height:20px;line-height:20px;font-size:11px;color:@text;margin-right:10px;}
			.item .item-meta li span {background:url(i/sprite.png) no-repeat 0 -180px;height:20px;width:20px;display:block;float:left;text-indent:-9999px;}
				.item .item-meta .comments {background-position-x:-200px}
				.item .item-meta .views {background-position-x:-160px;}
				.item .item-meta .price {background-position-x:-180px;margin-right:-4px;margin-left:-2pxpx;}
	.dibs-called {position:absolute;top:-4px;right:4px;width:20px;height:20px;background:url(i/sprite.png) no-repeat -40px -80px;text-indent:-9999px;}


.item-overlay-details {}
	.edit-item-link {position:absolute;top:30px;left:-80px;width:80px;font-family:@corp-font;background:rgba(0,0,0,.75);padding:15px 0;border-radius:4px 0 0 4px;color:#fff!important;.yearnly-text-shadow;font-style:italic;text-align:center;}
	.item-overlay-details .item-title {font-size:24px;margin:0;padding:0 0 7px 0;}
	.item-overlay-details .posted-meta {font-size:12px;font-weight:normal;color:#939393;font-style:italic;}
		.item-overlay-details .posted-meta strong {font-style:normal;}
	.item-overlay-details .item-description {padding-top:20px;}
	.item-overlay .item-meta {border:1px solid #eee;padding:12px 0;margin:0 0 30px;border-left:none;border-right:none;}
		.item-overlay .item-meta li {float:left;width:80px;color:#777;font-size:12px;line-height:25px;font-family:@corp-font;font-style:italic;}
			.item-overlay .item-meta .item-link {width:200px;margin-right:65px;overflow:hidden;white-space:nowrap;}
				.item-overlay .item-meta .item-link a {height:25px;color:#777;}
		.item-overlay .item-meta li span {display:block;width:25px;height:25px;background:url(i/sprite.png) no-repeat;float:left;margin:0 10px 0 0;}
			.item-overlay .item-meta .item-link span {background-position:-240px -140px;}
			.item-overlay .item-meta .item-price span {background-position:-265px -140px;}
			.item-overlay .item-meta .item-views span {background-position:-290px -140px;}
	.item-overlay .item-dibs {position:absolute;top:10px;right:50px;color:#939393;font-family:@corp-font;font-size:11px;}
		.item-overlay .dibs-called-icon {position:absolute;top:-10px;right:10px;width:40px;height:40px;background:url(i/sprite.png) no-repeat -40px -180px;}
	.call-dibs {position:absolute;width:80px;height:40px;top:0;right:5px;background:url(i/sprite.png) no-repeat -80px -180px;text-indent:-9999px;}
		.call-dibs:hover,
		.call-dibs:focus {background-position-y:-182px;}
		.call-dibs:active {background-position-y:-180px;}

.comments-container {}
	.comments-guts {}
		.comments-list {padding:0;height:240px;overflow-y:scroll;}
		.comment {padding:0 0 8px 0;margin:0 0 8px 0;position:relative;font-size:11px;}
			.comment:last-child {margin:0;}
			.comment .profile-pic {float:left;margin:0 9px 0 0;width:30px;height:30px;border-radius:4px;border:1px solid #737373;}
			.comment-author {font-weight:bold;}
			.comment-method {font-style:italic;color:#999;}
			.comment-description {padding:0;margin:0;}
			.comment-body p {padding:0 0 0 39px;margin:0;font-size:11px;color:@text;}
		.whisper {background:#444;padding:10px;.yearnly-text-shadow;border-radius:4px;}
			.whisper .comment-method {color:#fff;font-weight:bold;}
			.whisper p {color:#fff;padding:0 0 0 49px;}
			.whisper .commment-author {padding-bottom:3px;}
			.whisper .profile-pic {}
	.add-comment {border-top:3px solid #ddd;padding:10px 0 0 0;}
		.add-comment textarea {font-size:12px;color:@text;height:65px;border-color:#999;}
		.add-whisper-button {background:@whisper;color:darken(@whisper,70%);}
			.add-whisper-button:hover,
			.add-whisper-button:focus {background:darken(@whisper,5%);color:darken(@whisper,60%);}
	.load-more-comments {border:1px solid #eee;border-left:none;border-right:none;padding:10px 0;color:@text;font-size:12px;text-align:center;display:block;}

.lists {padding-top:20px;margin:0 0 30px 0;}
.list {position:relative;width:100%;height:80px;border-bottom:1px solid #ddd;}
	.list-guts {padding:20px 0;}
		.list-guts .stat {float:left;width:120px;margin-right:10px;padding:0;margin:0;font-size:80%;position:relative;top:-6px;}
	.list-title {font-size:24px;font-weight:bold;float:left;width:290px;line-height:1.2em;position:relative;top:3px;}
	.list-edit-link {position:absolute;top:10px;right:10px;font-size:11px;}


.friends {padding-top:20px;margin:0 0 30px 0;}
.friend {float:left;width:30%;margin:0 3% 25px 0;padding:10px 0;}
	.friend-guts {padding:18px 20px;text-align:center;}
	.friend img {display:block;margin:0 auto 20px;width:120px;height:120px;}
	.friend h2 a {color:@text;text-decoration:none;font-size:14px;}

.friends-search-container {position:relative;width:100%;z-index:1;}
	.no-friends-found {padding:20px!important;font-size:13px;font-weight:bold;color:@text;font-style:italic;}
	.friends-search {font-size:16px;}
	.friends-search-list {width:100%;position:absolute;top:32px;left:0;background:#fff;z-index:1;border:1px solid #aaa;border-top:none;}
		.mini-friend {width:100%;padding:15px 10px 0;background:#fff;border-top:1px solid #ddd;}
			.mini-friend p {padding:0;margin:0;font-weight:bold;color:@text;float:right;color:#999;font-style:italic;position:relative;top:-25px;}
			.mini-friend:first-child {border-top:none;}
			.mini-friend:last-child {border-bottom:1px solid #ddd;}
			.mini-friend img {margin-right:10px;width:40px;height:40px;}
			.mini-friend .profile-link {display:inline;}
				.mini-friend .friend-name {font-size:18px;font-weight:bold;color:@text;font-family:@corp-font;text-transform:capitalize;position:relative;top:4px;}
			.mini-friend .friend-username {color:@text-lite;font-size:13px;display:block;padding-top:5px;}
			.mini-friend .add-friend {font-size:11px;position:relative;top:-24px;}

.dibs {}
	.dib {padding:0 0 10px 0;margin:0 0 10px 0;border-bottom:1px dotted #ddd;}
		.dib .mark-purchased {float:left;cursor:pointer;display:block;width:40px;height:40px;border:1px solid #eee;}
		.dib .item-title {font-size:13px;float:left;width:240px;position:relative;top:17px;}
		.dib .item-link {float:left;font-size:12px;position:relative;top:17px;}
		.dib .item-poster {float:right;font-size:12px;position:relative;top:9px;}
	
.profile {}
	.profile-head {margin:0 0 30px 0;position:relative;}
		.profile-head img {width:120px;height:120px;display:block;margin:20px auto 20px;}
		.profile-head h1 {font-size:22px;line-height:1.2em;text-align:center;padding-bottom:20px;border-bottom:1px dotted #ddd;margin-bottom:20px;}
		.profile-head .button,
		.profile-head .friend-request-sent {display:block;border-radius:0 0 5px 5px;text-align:center;font-family:@corp-font;height:40px;text-transform:capitalize;line-height:33px;border-top:1px solid darken(@item-color,20%);}
			.profile-head .friend-request-sent {background:@text;color:#fff;.yearnly-text-shadow;border-top-color:#111;line-height:37px;}
	.profile-info-item {padding:0 20px 20px 20px;}

.public-list-header {height:320px;background:#f8f8f8 url(i/winter_wonderland.jpg) no-repeat center top;position:relative;}
	.public-list-header h1 {color:#fff;font-size:42px;text-shadow:1px 1px 3px rgba(0,0,0,.5);padding:120px 0 0 40px;margin:0;}
	.public-list-header h2 {color:#eee;font-size:16px;padding:0 0 0 40px;}
	.public-list-header-edit {position:absolute;top:40px;right:40px;font-size:24px;}
.public-list .secondary {float:left;border:none;padding:0;}
	.public-list-people {border-right:1px solid #ddd;border-top:1px solid #ddd;}
		.public-list-people li {height:60px;position:relative;}
			.public-list-people img {width:40px;height:40px;position:absolute;top:10px;left:10px;z-index:2;}
			.public-list-people a {display:block;width:100%;height:100%;line-height:60px;border-bottom:1px solid #ddd;padding-left:60px;font-size:16px;}
				.public-list-people li.active a {color:@text;position:relative;top:0;left:1px;background:#fff;z-index:1;border-top:1px solid #ddd;}
.public-list .main {float:right;}

.settings-panel {padding:10px;border:1px solid #ddd;}
	.settings-panel h3 {height:30px;line-height:30px;}
		.settings-panel h3 a {line-height:1em;position:relative;top:3px;}
			.settings-panel h3 a.toggled {color:#fff;background-color:@text;}
	.settings-panel .panel {box-shadow:none;border:none;padding:20px;}

/*
-------------------------------
RESPONSIVE STUFF BELOW
-------------------------------
*/


@media only screen and (min-width: 1100px) {

}

/* Tablet Portrait size to standard (devices and browsers) */
@media only screen and (max-width: 850px) {


}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

}
		

// @2x image support
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {

}