html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{box-sizing:border-box;border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}.group:before,.group:after{content:"";display:table}.group:after{clear:both}.group{zoom:1}strong{font-weight:700}em{font-style:italic}.left{float:left}.right{float:right}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,html{display:block}

/*
--------------------------------
MASTHEAD - VARIABLE DECLARATIONS
--------------------------------
*/
@main-color				:		#e56b3b;
	@main-link-color	:		@main-color;
@list-color				:		#79c2ae;
@item-color				:		#d9c45b;
@success				:		#6BE36D;
	@success-hover		:		#32B345;
@alert					:		#F5E36C;
	@alert-hover		:		#DBC84B;
@error					:		#EB5252;
	@error-hover		:		#D13434;
@whisper				:		#ebf5fb;
@text					:		#222;
	@text-lite			:		#aaa;
@textbox-color			:		#333;
@textbox-border-color	:		#ddd;

@border-radius			:		5px;
    @border-radius-small:		2px;

@main-font				:		"Bitter","Georgia","Times",serif;
@serif					:		"Bitter","Georgia","Times",serif;
@sans					:		"Helvetica Neue","Helvetica","Arial",Lucida,sans-serif;


.subtle-drop-shadow { text-shadow: 0 1px 0 rgba(0,0,0,.2); }

html, body {width:100%;height:100%;}
body {width:100%;height:100%;font-family:@serif;}

/*
	LAYOUT
*/
.full-width {width:100%;}
.wrap {width:80%;max-width:1000px;margin:0 auto;}
#page {width:80%;float:right;padding:30px 0 20px 3%;box-sizing:border-box;position:relative;}
#global_nav {width:18%;float:left;padding:20px 0 60px;}
.main {width:70%;float:left;}
.secondary {width:25%;float:right;border:1px solid #ddd;border-radius:@border-radius;}
.half {width:49%;}
.node {padding:15px;margin-bottom:20px;}
	.node:last-child {margin-bottom:0;}
.pd {margin-bottom:20px;}


/*
	GENERAL STYLES
*/
.hidden {display:none;}

a:link,
a:visited { color:@main-link-color;text-decoration:none; }
a:hover { color: darken(@main-link-color,20%);text-decoration:underline; }
a:active { color: @text; }

h1,h2,h3,h4,h5,h6 {font-weight:bold;font-family:@serif;text-shadow: 0 0 1px rgba(51,51,51,0.2);}
h1 {font-size:32px;margin:0 0 30px 0;}
h2 {font-size:22px;}
h3 {font-size:14px;}

p {font-family:@serif;line-height:1.6em;font-size:13px;padding:5px 0 15px 0;}

label { display: inline-block;padding:0 0 3px 0;color:@text;font-size:12px;font-weight:bold;font-family:@sans; }
input[type="text"],
input[type="password"],
textarea { color:@textbox-color;display:block;padding:6px;font-size:14px;outline:0;border:1px solid @textbox-border-color;width:100%;box-sizing:border-box;font-family:@serif;margin:0 0 10px 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	textarea:focus {border-color:#aaa;}

label.form-error {background:@error;border:1px solid @error-hover;color:#fff;border-top:none;.subtle-drop-shadow;position:relative;top:-11px;padding:8px;font-size:14px;margin:0 0 10px 0;box-shadow:0 2px 3px rgba(0,0,0,.25)}

.button,
.button:link,
.button:visited {border:none;cursor:pointer;display:inline-block;padding:5px 9px;font-weight:bold;background:@main-link-color;color:#fff;.subtle-drop-shadow;border-radius:100px;font-family:@sans;}
	.button:hover,
	.button:focus {text-decoration:none;background:lighten(@main-link-color,7%);}
	.button:active {background:@text;}

.hidden,
.panel {display:none;}

.panel {background:#fff;box-shadow:0 2px 3px rgba(0,0,0,.3);padding:8px;border-radius:4px;border:1px solid #999;z-index:999;}
	.panel .menu {min-width:120px;}
		.panel .menu li a {display:block;padding:9px;width:100%;height:100%;font-size:14px;color:@text;font-family:@sans;font-weight:bold;text-transform:capitalize;} 

.overlay {position:absolute;top:15%;left:50%;margin-left:-400px;z-index:9999;width:600px;padding:40px;border:none;box-shadow:0 0 15px rgba(0,0,0,.9);}

#ui_blocker {width:100%;height:100%;background:rgba(0,0,0,.5);position:absolute;top:0;left:0;z-index:9998;}

/*
	HEADER	
*/
header {background:#fff;font-family:@serif;box-shadow:0 1px 2px rgba(0,0,0,.25);border-bottom:1px solid #fff;margin:0 0 40px 0;}
    header .wrap {position:relative;height:60px;}
    header #logo {display:block;position:absolute;top:0;left:-5px;height:60px;width:140px;background:url(i/header_sprite.png) no-repeat 0 -120px;line-height:60px;color:@text;text-indent:-9999px;}
    #global_search {}
		#global_search legend {display:none;}
        #global_search input[type="submit"] { visibility:hidden; }
        #global_search input[type="text"] {position:absolute;top:10px;left:375px;height:40px;padding-left:15px;border-radius:50px;font-weight:bold;width:300px;opacity:0;-webkit-transition:opacity .25s ease-in-out;}
        #global_search input[type="text"]:focus,
		#global_search input[type="text"]:hover { opacity:1.0;-webkit-transition:opacity .25s ease-in-out; }
	#user_header { position: absolute; z-index:99; top: 11px; right: 0; text-align:right;}
		#user_header > a {display:block;font-weight:bold;color:@text;text-shadow:none;}
		#user_header img { float:right;margin-left:15px;position:relative;width:40px;height:40px;border:none;}
		#user_header .user-header-name {line-height:40px;}
	#not_logged_in_user_header a {float:right;margin-left:5px;position:relative;top:17px;}
	.user-action {width:40px;height:40px;display:block;background:transparent url(i/header_sprite.png) no-repeat 0 0;text-indent:-9999px;}
		.user-action:hover {background-position-y:-40px;}
	.north-star {position:absolute;top:10px;left:225px;}
		.north-star:active,
		.north-star.current {background-position-y:-80px;}
	.notifications-container {position:absolute;top:10px;left:275px;}
		.notifications-link {background-position-x:-40px;}
			.notifications-link.toggled {background-position-y:-80px;}
			.notifications-link.has-notifications {background-position-y:-80px;text-indent: 0;text-align: center;font-size: 15px;font-weight: bold;line-height:36px;font-size: 9px;color:@main-color;}
			.has-notifications:hover {text-decoration:none;font-weight:bold;color:@text;}
		.notifications {position:absolute;top:40px;left:0;z-index:9999;width:350px;padding:15px;}
			.notification {font-size:14px;font-family:@sans;padding-bottom:10px;margin-bottom:10px;border-bottom:1px solid #eee;}
			.notification:last-child {padding-bottom:0;margin-bottom:0;border-bottom:0;}
				.notification .group {padding-top:5px;}
				.notification .profile-pic {float:left;width:40px;height:40px;margin-right:20px;}
				.notification .request-sender {font-weight:bold;}
				.notification .decline-friend-request {font-size:11px;background:#777;}
		.no-notifications {padding:10px!important;font-size:16px;font-style:italic;color:#999;}
	.activate-search {position:absolute;top:10px;left:325px;background-position-x:-80px;}
		.activate-search.toggled {background-position-y:-80px;}

#global_nav { border-right:1px solid #eee;font-family:@sans;}
	#quick_actions { padding-bottom: 30px; }
	#global_nav li a:link,
	#global_nav li a:visited { color: @text-lite;font-weight:bold;font-size:15px;display:block;width:100%;padding:15px 0 14px 13px;border:1px solid transparent;-webkit-transition:color .1s linear; font-family:@serif;}
	#global_nav li a:hover,
	#global_nav li.current a { color:@text;text-decoration:none;-webkit-transition:color .1s linear; }
	#global_nav li.current a {border-color:#eee;border-right-color:#fff;position:relative;top:0;left:1px;border-radius:5px 0 0 5px;}
	#global_nav li a:before {content:".";display:block;width:24px;height:24px;float:left;margin-right:10px;background:url(i/site_nav_sprite.png) no-repeat -24px 0;position:relative;top:-5px;left:-6px;text-indent:-9999px;opacity:.5;}
		#global_nav #nav_home:before {background-position-y:0;}
		#global_nav #nav_items:before {background-position-y:-24px;}
		#global_nav #nav_lists:before {background-position-y:-48px;}
		#global_nav #nav_dibs:before {background-position-y:-72px;}
		#global_nav #nav_friends:before {background-position-y:-96px;}
		/* #global_nav #nav_messages:before {background-position-y:-120px;} */
		#global_nav #nav_settings:before {background-position-y:-120px;}
	#global_nav li.current a:before {background-position-x:0;opacity:1;}
#quick_actions li a:before {content:"+";background:@list-color;text-indent:-1px;color:#fff;text-align:center;border-radius:20px;line-height:22px;font-size:18px;font-weight:bold;}
#quick_actions li:last-child a:before {background:@item-color;}


#authentication_form_group .half {border:1px solid #eee;padding:20px;}
#authentication_form_group h2 {padding:0 0 30px 0;}


.thing {border:1px solid #ddd;position:relative;border-radius:4px;-webkit-transition:all ease-in-out .2s;cursor:pointer;}
	.thing:hover {box-shadow:0 2px 6px rgba(0,0,0,.3);border-color:#a8a8a8;position:relative;top:-2px;}
	.thing:active {position:relative;top:0;border-color:#999;box-shadow:none;-webkit-transition:none;}

.header-with-tools {position:relative;margin:0 0 30px 0;}
	.header-tools {float:right;position:relative;top:6px;left:0;}
	.header-with-tools h2 {float:left;}
	.tool-label {color:@text-lite;}
	.header-with-tools .activate-panel:link,
	.header-with-tools .activate-panel:visited {color:@text;padding:9px 15px 9px 9px;}
		.header-with-tools .activate-panel:after {content:"▼";font-weight:bold;}
	.header-with-tools .panel {position:absolute;top:-40px;right:0;z-index:99;.panel;}

.activity {position:relative;margin-bottom:20px;font-size:13px;font-family:@sans;}
	.activity img {vertical-align:middle;margin-right:15px;width:40px;height:40px;}
	.activity a {font-weight:bold;}

.stat {padding:0 0 20px 0;margin:0 0 20px 0;}
	.stat:last-child {padding-bottom:0;margin:0;}
	.stat h2 {font-size:32px;}
	.stat h4 {font-size:14px;color:lighten(@text,20%);}

.profile-pic {border-radius:100px;box-shadow:inset 0 3px 0 rgba(255,255,255,.9);}

.items {padding-top:20px;margin:0 0 30px 0;}
.item {float:left;width:30%;height:108px;margin:0 3.3% 30px 0;padding:0;position:relative;font-family:@sans;}
	.item .activate-panel {position:absolute;top:0;left:0;width:100%;height:100%;text-indent:-9999px;}
	.item:nth-child(3) {margin-right:none;float:right;}
	.item-guts {padding:20px;}
	.item .item-title {font-size:16px;padding:0;line-height:1.3em;font-family:@sans;}
	.item .item-link {position:absolute;bottom:21px;left:60px;font-size:10px;color:#aaa;width:100px;overflow:hidden;text-decoration:none;}
	.item .item-price {position:absolute;left:-5px;bottom:16px;height:20px;line-height:20px;width:60px;background:@success;border:1px solid @success-hover;border-radius:3px;text-align:center;color:darken(@success-hover,20%);font-weight:bold;}
	.item .item-comments {position:absolute;bottom:3px;right:5px;text-align:center;color:#fff;background:url(i/header_sprite.png) no-repeat 100% 100%;height:40px;width:40px;line-height:36px;font-size:12px;font-weight:bold;text-decoration:none;}
	.item .dibs-called {position:absolute;top:-20px;right:5px;width:40px;height:40px;text-indent:-9999px;background:transparent url(i/header_sprite.png) 100% 80px;}
		.item .who-dibbed {position:absolute;top:-40px;right:-20px;width:180px;height:53px;line-height:40px;font-weight:bold;text-align:center;color:#fff;.subtle-drop-shadow;font-size:14px;background:#eee;text-indent:0;background:url(i/header_sprite.png) no-repeat 100% 0;}

.comments-container {border-radius:5px;margin-top:-1px;left:-16px;background:#fff;border:1px solid #999;z-index:9;padding:10px;box-shadow:0 3px 7px rgba(0,0,0,.2);}
	.comments-guts {padding:10px;}
		.comments-list {padding:10px;height:240px;overflow-y:scroll;}
		.comment {padding:0 0 10px 0;margin:0 0 10px 0;}
			.comment:last-child {margin:0;}
			.comment-author {font-size:12px;font-weight:bold;}
			.comment-method {font-size:12px;font-style:italic;color:#999;}
			.comment-body * {padding:5px 0 0 0;margin:0;font-family:@sans;font-size:11px;color:@text;}
		.whisper {border-color:@whisper;}
	.add-comment {border-top:3px solid #ddd;padding:10px 0 0 0;}
		.add-comment textarea {font-size:12px;color:@text;font-family:@sans;height:65px;}
		.add-whisper-button {background:@whisper;color:darken(@whisper,50%);}
			.add-whisper-button:hover,
			.add-whisper-button:focus {background:darken(@whisper,5%);color:darken(@whisper,60%);}

.lists {padding-top:20px;margin:0 0 30px 0;}
.list {position:relative;width:100%;height:80px;border-bottom:1px solid #ddd;}
	.list-guts {padding:20px 0;}
		.list-guts .stat {float:left;width:120px;margin-right:10px;padding:0;margin:0;font-size:80%;position:relative;top:-6px;}
	.list-title {font-size:24px;font-weight:bold;float:left;width:290px;line-height:1.2em;position:relative;top:3px;}
	.list-edit-link {position:absolute;top:10px;right:10px;font-size:11px;}


.friends {padding-top:20px;margin:0 0 30px 0;}
.friend {float:left;width:30%;margin:0 3% 25px 0;padding:10px 0;}
	.friend-guts {padding:18px 20px;text-align:center;}
	.friend img {display:block;margin:0 auto 20px;width:120px;height:120px;}
	.friend h2 a {color:@text;text-decoration:none;font-size:14px;}

.friends-search-container {position:relative;width:100%;z-index:1;}
	.no-friends-found {padding:20px!important;font-size:13px;font-weight:bold;font-family:@sans;color:@text;font-style:italic;}
	.friends-search {font-size:16px;}
	.friends-search-list {width:100%;position:absolute;top:32px;left:0;background:#fff;z-index:1;border:1px solid #aaa;border-top:none;}
		.mini-friend {width:100%;padding:15px 10px 0;background:#fff;border-top:1px solid #ddd;}
			.mini-friend p {padding:0;margin:0;font-weight:bold;font-family:@sans;color:@text;float:right;color:#999;font-style:italic;position:relative;top:-25px;}
			.mini-friend:first-child {border-top:none;}
			.mini-friend:last-child {border-bottom:1px solid #ddd;}
			.mini-friend img {margin-right:10px;width:40px;height:40px;}
			.mini-friend .profile-link {display:inline;}
				.mini-friend .friend-name {font-size:18px;font-weight:bold;color:@text;font-family:@serif;text-transform:capitalize;position:relative;top:4px;}
			.mini-friend .friend-username {color:@text-lite;font-size:13px;font-family:@sans;display:block;padding-top:5px;}
			.mini-friend .add-friend {font-size:11px;position:relative;top:-24px;}

.dibs {}
	.dib {padding:0 0 10px 0;margin:0 0 10px 0;border-bottom:1px dotted #ddd;}
		.dib .mark-purchased {float:left;width:20px;height:20px;cursor:pointer;}
		.dib .item-title {font-size:13px;}
	
.profile {}
	.profile-head {margin:0 0 30px 0;position:relative;}
		.profile-head img {width:120px;height:120px;margin:0 20px 0 0;}
		.profile-head h1 {line-height:120px;}
		.profile-head .button {float:right;position:relative;top:60px;left:0;padding:15px 20px;}
	.profile-nav {margin:0 0 20px 0;}
	.profile-nav ul {background:@text;height:45px;}
		.profile-nav li {float:left;padding:10px;height:100%;}
		.profile-nav li a {display:block;color:#fff;text-shadow:0 1px 0 rgba(0,0,0,.9);font-family:@sans;font-size:14px;font-weight:bold;padding:5px 10px;border-radius:100px;}
	.profile-info-item {border-bottom:1px solid #ddd;padding-bottom:15px;margin-bottom:15px;}
		.profile-info-item-heading {float:left;width:15%;padding-top:5px;text-align:right;color:lighten(@text,20%);}
		.profile-info-item-content {float:right;width:80%;}
			.profile-info-item-content p {font-size:16px;font-family:@sans;padding:0;margin:0;}

.public-list-header {height:320px;background:#f8f8f8 url(i/winter_wonderland.jpg) no-repeat center top;position:relative;}
	.public-list-header h1 {color:#fff;font-size:42px;text-shadow:1px 1px 3px rgba(0,0,0,.5);padding:120px 0 0 40px;margin:0;}
	.public-list-header h2 {color:#eee;font-size:16px;padding:0 0 0 40px;}
	.public-list-header-edit {position:absolute;top:40px;right:40px;font-size:24px;}
.public-list .secondary {float:left;border:none;padding:0;}
	.public-list-people {border-right:1px solid #ddd;border-top:1px solid #ddd;}
		.public-list-people li {height:60px;position:relative;}
			.public-list-people img {width:40px;height:40px;position:absolute;top:10px;left:10px;z-index:2;}
			.public-list-people a {display:block;width:100%;height:100%;line-height:60px;border-bottom:1px solid #ddd;padding-left:60px;font-size:16px;}
				.public-list-people li.active a {color:@text;position:relative;top:0;left:1px;background:#fff;z-index:1;border-top:1px solid #ddd;}
.public-list .main {float:right;}

.settings-panel {padding:10px;border:1px solid #ddd;}
	.settings-panel h3 {height:30px;line-height:30px;}
		.settings-panel h3 a {line-height:1em;position:relative;top:3px;}
			.settings-panel h3 a.toggled {color:#fff;background-color:@text;}
	.settings-panel .panel {box-shadow:none;border:none;padding:20px;}

/*
-------------------------------
RESPONSIVE STUFF BELOW
-------------------------------
*/


@media only screen and (min-width: 1100px) {

}

/* Tablet Portrait size to standard (devices and browsers) */
@media only screen and (max-width: 850px) {


}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

}
		

// @2x image support
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {

}