@{
    ViewBag.Title = "Friends";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<h2>@ViewBag.UserName's Friends</h2>

<div class="friends">
    @foreach (var row in Model)
    {
        <div class="friend">
            <div class="friend-guts">
                <h2><a href="/@row.FriendProfile.UserName">@row.FriendProfile.UserName</a></h2>
            </div>
        </div>
    }
</div>
