@{
    ViewBag.Title = "Home";
    String welcomeName = String.Empty;
    if(String.IsNullOrEmpty(WebSecurity.CurrentUserName))
    {
        welcomeName = "Stranger";
    }
    else
    {
        welcomeName = WebSecurity.CurrentUserName;
           
    }
}
    <div class="main group">
        <div id="activity_feed" class="group">
            <div class="header-with-tools group">
                <h2>What you've missed&hellip;</h2>
                <div class="header-tools group">
                    <label class="tool-label" for="">show me <a href="#">everything</a></label>
                    <ul class="tool-select">
                        <li><a href="">items</a></li>
                        <li><a href="">lists</a></li>
                        <li><a href="">dibs</a></li>
                        <li><a href="">friendships</a></li>
                    </ul>
                </div>
            </div>

        </div>        
    </div><!-- /.main -->

	<div class="sixteen columns clearfix add-big-bottom" id="welcome_message">
		<div class="nine columns alpha">
			<h6>Welcome&hellip;</h6>
			<h3>@welcomeName</h3>
            <p>@ViewBag.Test</p>
		</div>
		<div class="five columns offset-by-two omega clearfix" id="quick_actions">
			<a class="button two columns alpha" rel="" href="/lists/new">create a list</a>
			<a class="button two columns omega" rel="#add_item_overlay" href="/items/new">add an item</a>
		</div>
	</div>
	
	<div class="sixteen columns clearfix" id="activity">
		<div class="eleven columns alpha clearfix">
			<h6 class="seven columns alpha">Recent Activity</h6>
			<h6 class="three offset-by-one columns omega">Show <a href="">everything</a>.</h6>
			<hr />
			<ul class="full-width clearfix">
				<li><a href="">Changing</a> this text <a href="">to something else</a>.</li>

			</ul>
		</div>
	</div>
	
	@Html.Partial("_AddItemOverlay")

</div><!-- container -->
