@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}
<div class="promo">
    <div class="promo-guts">
        <h1>Yearnly is an online wishlist</h1>
        <h2>It's where you keep all the cool things you find to buy online. You can add items, create lists, share with friends and family, call dibs, and more&hellip;</h2>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl, Html = new { @class = "button" } })
    </div>
    @*<nav class="site-nav">
        <ul>
            <li><a href=""></a></li>
        </ul>
    </nav>*@
</div>
