@{
    ViewBag.Title = "Lists";
    @model IEnumerable<Yearnly.Model.UserList>
}

<p>All your lists will be here. If you'd like, you can <a class="button" href="/lists/add">create one</a>.</p>

<div class="lists">
@foreach (var row in Model)
{
    <div class="list">
        <h3><a href="/lists/edit/@row.Id">@row.Name</a></h3>
        <h4><span>created by </span><a href="">@row.UserProfile.UserName</a></h4>
    </div>
}
</div>
