@{
    ViewBag.Title = "Lists";
    @model IEnumerable<Yearnly.Model.UserList>
}

<h2>Lists</h2>
<p>@ViewBag.username's lists!</p>

<ul>
@foreach (var row in Model)
{
    <li>
            <h3><a href="/lists/edit/@row.Id">@row.Name</a></h3>
            <h4><span>created by </span><a href="">@row.UserProfile.UserName</a></h4>
    </li>
}
</ul>
