@{
    ViewBag.Title = "Dibs";
    ViewBag.Section = "Dibs";
}

<h1>Dibs</h1>

<ul class="dibs">
    <li class="dib group">
        <input class="mark-purchased" type="checkbox" name="" id="" />
        <h2 class="item-title">iPhone 5</h2>
        <a class="item-link" href="http://apple.com/iphone">http://apple.com/iphone</a>
        <p class="item-poster">posted by <a href="">Jordan Little</a></p>
    </li>
</ul>
