@model IEnumerable<Yearnly.Model.Friend>

@{
    ViewBag.Title = "Friends";
}

<p>All your friends will be here. If you'd like, you can <a class="button" href="/friends/add">find one</a>.</p>


<div class="friends">
    <ul>
@foreach (var row in Model)
{
    <li>The Friend Profile is: @row.FriendProfile.UserName</li>
}
        </ul>
</div>