@model IEnumerable<Yearnly.Model.Friend>

@{
    ViewBag.Title = "Friends";
    ViewBag.Section = "Friends";
}

<input type="text" id="friend_search" placeholder="search for friends..." data-bind="value: searchText, submit: searchFriends" />
<div id="search_results" data-bind="html: searchResults"></div>

<div class="friends">
    @foreach (var row in Model)
    {
        <div class="friend">
            <div class="friend-guts">
                <h2><a href="/@row.FriendProfile.UserName">@row.FriendProfile.UserName</a></h2>
            </div>
        </div>
    }
</div>
<script src="~/Scripts/Friends/SearchFriends.js"></script>
