@model IEnumerable<Yearnly.Model.Friend>

@{
    ViewBag.Title = "Friends";
    ViewBag.Section = "Friends";
}

<div class="friends-search-container">
    <input type="text" class="friends-search" placeholder="search for friends..." data-bind="value: searchText, submit: searchFriends" />
    <ul class="friends-search-list" data-bind="visible: noResults">
        <li class="group mini-friend no-friends-found">No friends with that name 'round here.</li>
    </ul>
    <ul class="friends-search-list" data-bind="foreach: searchResults, visible: searchResults().length > 0">
        <li class="group mini-friend">
            <a href="#" data-bind="attr: { href: userName }"><img class="left profile-pic" src="~/Content/css/i/big_profile_pic.jpg" alt="" /></a>
            <a href="#" data-bind="attr: { href: userName }" class="profile-link"><span class="friend-name" data-bind="text: userName"></span></a>
            <span class="friend-username" data-bind="text: userName"></span>
            <span data-bind="ifnot: requestSent() || areFriends()">
                <a class="add-friend button right" href="#">send friend request</a>
            </span>
            <p data-bind="visible: areFriends">Friends with this person&hellip;</p>
            <p data-bind="fadeVisible: requestSent">Friend request sent&hellip;</p>
        </li>
    </ul>
</div>

<div class="friends">
    @foreach (var row in Model)
    {
        <div class="friend thing">
            <div class="friend-guts">
                <img class="profile-pic" src="~/Content/css/i/big_profile_pic.jpg" alt="" />
                <h2><a class="thing-link" href="/@row.FriendProfile.UserName">@row.FriendProfile.UserName</a></h2>
            </div>
        </div>
    }
</div>
<script src="~/Scripts/Friends/FriendFind.js"></script>
