@{
    ViewBag.Title = "Items";
    ViewBag.Section = "Items";
    @model List<Yearnly.Model.UserItem>
}

<p>All your items will be here. If you'd like, you can <a class="button" href="/items/add">add one</a>.</p>

<div class="panel overlay group" id="item_overlay">
    <del class="close-overlay">close</del>
    <a href="/items/edit/1" class="edit-item-link button">edit</a>
    <div class="overlay-guts">
        <div class="group item-overlay-details">
            <h2 class="item-title">Colosseo Letterpress Print</h2>
            <a class="item-link" href="http://apple.com/iphone"><span class="item-link-icon"></span>http://apple.com/sjdoifis</a>
            <span class="item-price"><span class="item-currency-symbol">$</span>50</span>
            <p class="item-description">I want the 16GB iPhone 5 in black. Get me a case along with it, if you'd like.</p>
            <a class="call-dibs" href="#"><span class="call-dibs-icon"></span><span class="dibs-status">call dibs on this item</span></a>
        </div><!-- /.item-overlay-details -->
        <div class="comments-container">
            <div class="comments-guts">
                <h3>Comments</h3>
                <ol class="comments-list">
                    <li class="comment group">
                        <img class="profile-pic" src="~/Content/css/i/big_profile_pic.jpg" alt="" />
                        <span class="comment-author"><a href="/system">Brent Coney</a></span> <span class="comment-method">said:</span>
                        <span class="comment-body">
                            <p>This is a comment. Can you see it?</p>
                        </span>
                    </li>
                    <li class="comment whisper group">
                        <img class="profile-pic" src="~/Content/css/i/big_profile_pic.jpg" alt="" />
                        <span class="comment-author"><a href="/system">Jordan Little</a></span> <span class="comment-method">whispered:</span>
                        <span class="comment-body">
                            <p>This is a whispered comment. Can you see it? It's going to be a long one, too, so watch your heights and widths.</p>
                        </span>
                    </li>
                </ol>
                <div class="add-comment">
                    <form id="" method="" action="">
                        <fieldset>
                            <textarea class="add-comment-body" rows="" cols="" id="" name="" placeholder="add your comment&hellip;"></textarea>
                        </fieldset>
                        <fieldset class="group">
                            <input type="submit" class="left button add-whisper-button" value="whisper" />
                            <input type="submit" class="right button add-comment-button" value="post" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div><!-- /.comments-container -->
    </div>
</div>

<div class="items">
    @foreach (var row in Model)
    {
        <div class="item group thing">
            <a class="activate-panel" href="#item_overlay">view details</a>
            <div class="item-guts">
                <h2 class="item-title">@row.Title</h2>
                <a class="item-link" href="@row.Link">@row.Link</a>
                <span class="item-price"><span class="item-currency-symbol">$</span>50</span>
                <span class="dibs-called">Jordan called dibs</span>
                <a class="item-comments" title="7 comments" href="#PERMALINK_TO_ITEM">7</a>
            </div>
        </div>
    }
</div>
