@{
    ViewBag.Title = "Items";
    ViewBag.Section = "Items";
    @model List<Yearnly.Model.UserItem>
}
<div class="main group">

    <h1>Items</h1>

    <div class="panel overlay group item-overlay" id="item_overlay">
        <del class="close-overlay">close</del>
        <a href="/items/edit/1" class="edit-item-link">edit</a>
        <div class="overlay-guts">
            <div class="group item-overlay-details">
                <!-- ## IF DIBS HAVE BEEN CALLED ## -->
                <!-- \v/ - change that depending on user -->
                <span class="hidden dibs-called-icon"></span><span class="hidden item-dibs">You called dibs 1 hour ago</span>
                <!-- ## ELSE ## -->
                <a href="#" title="call dibs" class="call-dibs">call dibs</a>
                <!-- ## -->

                <h2 class="item-title" data-bind="text: title"></h2>
                <h3 class="posted-meta">added 7 days ago by <strong><a href="#LINKTOPROFILE">Jordan Little</a></strong></h3>
                <p class="item-description" data-bind="text: description"></p>
                <ul class="item-meta group">
                    <li class="item-link" title="item link"><span></span><a class="item-link" data-bind="attr: {href: link }, text: link"></a></li>
                    <li class="item-price" title="item price"><span></span>400</li>
                    <li class="item-views" title="27 views"><span></span>27</li>
                </ul>
            </div>
            <!-- /.item-overlay-details -->
            <div class="group edit-item hidden">
                <div class="global-add-item group" id="edit_an_item">
                    <fieldset>
                        <input type="text" placeholder="What is it?" id="edit_item_title" name="edit_item_title" class="edit-item-title" />
                    </fieldset>
                    <fieldset>
                        <input type="text" placeholder="http://" id="edit_item_link" name="edit_item_link" class="edit-item-link" />
                    </fieldset>
                    <fieldset>
                        <input type="text" placeholder="Notes (sizes, colors, special instructions)" id="edit_item_notes" name="item_notes" class="edit-item-notes" />
                    </fieldset>
                    <fieldset class="group">
                        <span class="add-item-price-icon">$</span>
                        <input type="text" placeholder="Price" id="edit_item_price" name="item_price" class="edit-item-price left" />
                        <a class="edit-item-submit right button" href="#">Save</a>
                    </fieldset>
                </div>
                <!-- /#add_an_item -->
            </div>
        </div>
        <!-- /.overlay-guts -->
        <div class="comments-container">
            <div class="comments-guts">
                <ol class="comments-list">
                    <!-- ko foreach: itemComments -->
                    <!-- ko ifnot: isWhisper -->
                    <li class="comment group">
                        <span class="comment-posted">2 days ago</span>
                        <img class="profile-pic" data-bind="attr: { src: smallProfilePicLink }" alt="" />
                        <span class="comment-author"><a data-bind="attr: { href: userName }, text: firstName"></a></span><span class="comment-method">said:</span>
                        <span class="comment-body">
                            <p data-bind="text: comment"></p>
                        </span>
                    </li>
                    <!-- /ko -->
                    <!-- ko if: isWhisper -->
                    <!-- ko ifnot: $parent.isMyItem -->
                    <li class="comment whisper group">
                        <span class="comment-posted">2 days ago</span>
                        <img class="profile-pic" data-bind="attr: { src: smallProfilePicLink }" alt="" />
                        <span class="comment-author"><a data-bind="attr: { href: userName }, text: firstName"></a></span><span class="comment-method">whispered:</span>
                        <span class="comment-body">
                            <p data-bind="text: comment"></p>
                        </span>
                    </li>
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- /ko -->

                    <li><a class="load-more-comments" href="#">load more comments</a></li>

                </ol>
                <div class="add-comment">
                    <form>
                        <fieldset>
                            <textarea class="add-comment-body" rows="" cols="" id="" name="" placeholder="add your comment&hellip;" data-bind="value: newComment"></textarea>
                        </fieldset>
                        <fieldset class="group">
                            <input type="submit" class="left button add-whisper-button" value="whisper" data-bind="click: addWhisper" />
                            <input type="submit" class="right button add-comment-button" value="post" data-bind="click: addComment" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.comments-container -->
    </div>
    <script src="~/Scripts/Items/ItemOverlay.js"></script>
    <ul class="items">
        @foreach (var row in Model)
        {
            <li class="item group thing">
                <a class="activate-panel item_details_click" href="#item_overlay" data-itemid="@row.Id">view details</a>
                <div class="item-guts">
                    <h2 class="item-title">@row.Title</h2>
                    <a class="item-link" href="@row.Link">@row.Link</a>
                    <ul class="item-meta">
                        <li><span class="comments" title="comments">comments</span>3</li>
                        <li><span class="views" title="views">views</span>27</li>
                        <li><span class="price" title="price">price</span>400</li>
                    </ul>
                    <span class="dibs-called">Jordan called dibs</span>
                </div>
            </li>
        }
    </ul>

</div>
<!-- /.main -->
