@model Yearnly.Web.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_RegistrationLayout.cshtml";
}

<h1>@ViewBag.Title</h1>

<section id="authentication_form_group" class="group">
    
    <div class="half right" id="social_login_form">
        <h2>Log in using your Facebook account</h2>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </div>
</section>


