@{
    ViewBag.Title = "Add";
    ViewBag.Title = "Lists";
}

<h2>Add new List</h2>
<form action="/lists/create/" method="post">
    <input placeholder="name" name="listname" />
    <input type="submit" value="Add List" />
</form>
