@{
    ViewBag.Title = "Create a new list...";
    ViewBag.Section = "AddList";
}

<h1>Create a list</h1>

<form action="/lists/create/" method="post">
    <fieldset class="group">
        <label for="listname">List Title</label>
        <input placeholder="ex: Christmas List 2012" type="text" name="listname" />
    </fieldset>
    <fieldset class="group">
        <input type="submit" class="button" value="Add List" />
    </fieldset>
</form>
